{% extends 'index.html' %}

{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Twój koszyk</p>
                <div class="list-group">
                    {% for category in categories %}
}                   {% endfor %}
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <h4><strong>Koszt zamówienia: {{ basket.total_price }} zł</strong></h4></p>
                    <p><h6>+ koszty wysyłki</h6></p>
                    <hr>
                    <p><h4><strong>Produkty:</strong></h4></p>
                    <form action="{% url 'modify-inside-basket' %}" method="POST">
                        {% csrf_token %}
                        {% for inside_basket in inside_baskets %}
                            <label><img src="{{ inside_basket.product.picture.url }}" class="img-fluid">{{ inside_basket.product.name }} - {{ inside_basket.product.price }} zł - Ilość</label>
                            <input type="number" name="{{ inside_basket.product.name }}" value="{{ inside_basket.items }}" placeholder="{{ inside_basket.items }}">
                            <input type="text" name="{{ inside_basket.id }}" value="{{ inside_basket.id }}" hidden>
                        <br>
                        {% endfor %}
                        <br>
                        <button type="submit">Aktualizuj</button>
                    </form>
                    <br>
                    <form action="{% url 'order-create' %}" method="GET">
                        <button type="submit">Zamów!</button>
                    </form>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
