{% extends "index.html" %}

{% block content %}


            <div class="col-md-9">

                <div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="pull-right">Cena: {{ product.price }} zł</h4>
                        <h4><a href="#">{{ product.name }}</a>
                        </h4>
                        <h4 class="pull-right">
                            <form action="{% url 'add-product-to-basket' product.id %}" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">Dodaj do koszyka</button>
                            </form>
                        </h4>
                        <p><img src="{{ product.picture.url }}" class="img-fluid"></p>
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Zostaw komentarz</a>
                    </div>
                    <div class="review" style="display: none">
                        <form action="{% url 'review-add' product.id %}" method="POST">
                            {% csrf_token %}
                            {{ form2.as_p }}
                            <button type="submit">Dodaj</button>
                        </form>
                    </div>
                    <hr>
                    {% for review in reviews %}
                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">{{ review.creation_date }}</span>
                            <p>{{ review.content }}</p>
                        </div>
                    </div>

                    <hr>
                    {% endfor %}

                    <hr>


                </div>

            </div>
{% endblock %}